body{
    text-align: center;
}

p,h4{
    font-size: 24px;
    color: aqua;
}

img {
    border: 5px solid sandybrown;

}
.link{
    text-decoration: none;
}
#heading1{
    background-color: brown;
}